body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #2d2d2d;
    z-index: 1000; /* Incrementato per posizionare la sidebar sopra la navbar */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 50px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Modificato per rimuovere l'ombra sulla sinistra */
}

.container {
    margin-top: 30px; /* Distanza sufficiente per evitare che il contenuto venga coperto dalla navbar */
    margin-left: 200px; /* Distanza dalla sidebar */
    padding: 20px;
}

.search-bar {
    margin-right: 20px;
    padding: 6px;
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 150px;
}

.search-bar:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #454545;
}
