body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #2d2d2d;
    z-index: 1000; /* Incrementato per posizionare la sidebar sopra la navbar */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 50px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Modificato per rimuovere l'ombra sulla sinistra */
}

.search-bar {
    margin-right: 20px;
    padding: 6px;
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 150px;
}

.search-bar:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #454545;
}

.container {
    position: relative;
    top: 50px;
    margin-left: 200px;
    padding: 20px;
    background-color: #141414;
    min-height: calc(100vh - 50px);
    overflow: auto;
    display: flex; /* Per allineare le card orizzontalmente */
    flex-wrap: wrap; /* Permette di andare a capo se non c'è spazio */
    gap: 20px; /* Distanza tra le card */
}

.card {
    width: 20%; /* Occupa il 20% della larghezza */
    height: 20vh;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.floating-button {
    position: fixed;
    bottom: 40px; /* Maggiore distanza dal fondo */
    right: 40px; /* Maggiore distanza dal bordo destro */
    background-color: #4CAF50; /* Colore verde */
    color: white;
    padding: 20px 30px; /* Aumenta la dimensione */
    border: none;
    border-radius: 15px; /* Angoli più arrotondati */
    text-decoration: none;
    font-size: 18px; /* Testo più grande */
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
}

.floating-button:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Effetto di ingrandimento */
}


