html, body {
    overflow: hidden;
    height: 100%;
}

::selection {
    background: #4CAF50; /* Colore di sfondo della selezione */
    color: white; /* Colore del testo selezionato */
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #2d2d2d;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    left: 200px;
    width: calc(100% - 200px);
    height: 50px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-bar {
    margin-right: 20px;
    padding: 6px;
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 150px;
}

.search-bar:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #454545;
}

.container {
    position: absolute;
    top: 50px;
    left: 200px;
    z-index: 0;
    right: 0;
    height: auto;
    padding: 20px;
    background-color: #141414;
    overflow-y: auto; /* Abilita lo scroll solo su questo div */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: calc(100vh - 50px); /* Imposta l'altezza per consentire lo scroll */
}

.card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 20vh;
    background-color: #f8f9fa;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}

.card-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-content-wrapper {
    max-height: 50px; /* Imposta l'altezza massima per l'anteprima */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    position: relative;
}

.card-content {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    display: -webkit-box; 
    -webkit-line-clamp: 2; /* Limita a 2 righe */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
}
.read-more {
    display: block;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
}

.floating-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
}

.floating-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.btn{
    opacity: 0.95;
}
