html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

body.modal-open {
    overflow: hidden;
}

::selection {
    background: #45a049; /* Verde più scuro */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.editor-container {
    margin: auto;
    width: 100%;
    height: 55vh;
    border: 1px solid #444;
    border-radius: 5px;
    background: #2d2d2d;
}

form {
    width: 80%;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input, select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
}

input:focus, select:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #3d3d3d;
}

input{
    outline: none;
    transition: 0.1s ease;
}

.btn {
    margin: auto;
    text-align: right;
    margin-left: 20px;
}

.floating-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button:hover {
    background-color: #444;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.header h1 {
    margin: 0 auto;
    font-size: 28px;
}

.form-group {
    margin-top: 15px;
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.CodeMirror {
    background: #2d2d2d !important;
    border-radius: 5px;
    color: aliceblue !important;
}

.CodeMirror-gutters {
    background: #2d2d2d !important;
    border-right: 1px solid #444 !important;
}

.CodeMirror-linenumber {
    background-color: #2d2d2d !important;
    color: #888 !important;
}

/* Colore di sfondo della riga attiva */
.CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.1) !important;
}

/* Colore del cursore */
.CodeMirror-cursor {
    border-left: 2px solid #4CAF50 !important;
}

/* Colore di sfondo della selezione */
.CodeMirror-selectedtext {
    background: #45a049 !important; /* Verde trasparente */
}

/* Stile quando si sta selezionando con il mouse */
.CodeMirror-focused .CodeMirror-selected {
    background: rgba(76, 175, 80, 0.5) !important;
}

.file-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.file-container {
    margin: 5px;
    text-align: center;
}

.preview-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.file-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.modal-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    max-width: 95%;
    max-height: 95%;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Immagine nella Modal */
.preview-image {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Anteprima PDF */
.pdf-preview {
    width: 100px;
    border: 1px solid #999;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal visualizzatore PDF */
.modal-content iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

#modal-body pre {
    white-space: pre-wrap;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background-color: #1e1e1e;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 1.6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border: 1px solid #333;
}


/*
Responsivo
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-group {
        flex-direction: column;
        gap: 15px;
    }

    .editor-container {
        height: 50vh;
    }

    .file-container {
        max-width: 150px;
    }

    .preview-image {
        max-width: 80px;
        max-height: 80px;
    }

    .file-icon {
        width: 80px;
        height: 80px;
    }

    .modal-content {
        padding: 5px;
    }

    .modal-content iframe {
        height: 60vh;
    }
}
*/